<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastrar Equipamento</title>
    <style>
        body {
            font-family: 'Monaco', monospace;
            font-size: 20px;
        }
        button {
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1>Criar Equipamento</h1>
    <form action="{% url 'app:criar_objeto' %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <br>
            {{ field.label_tag }}
            <br>
            {{ field}}
            <br>
        {% endfor %}
        <button type="submit">Salvar</button><button><a href="{% url 'app:listar_objeto'%}">Lista de Instrumentos</a></button>
</body>
</html>
