<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar Equipamento</title>
    <style>
        html {background-color: #929292;}
        body {
            font-family: 'Monaco', monospace;
            font-size: 20px;
        }
        button {
            font-size: 20px;
            background-color: #b8b7b7;
        }
    </style>
</head>
<body>
    <h1>Deletar Equipamento</h1>
    <form action="{% url 'app:deletar_objeto' pk=instrumento.pk %}" method="post">
        {% csrf_token %}
        <p>Você tem certeza que deseja deletar o Equipamento-Habilidade:  {{ instrumento.item }} ?</p>
        <button type="submit">Deletar</button><button><a href="{% url 'app:detalhar_objeto' pk=instrumento.pk %}">Cancelar</a></button>
    </form>
</body>
</html>