<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Deletar Usuário</title>
    <style>
        body {
            font-family: 'Monaco', monospace;
            font-size: 20px;
        }
        button {
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1>Deletar Usuário</h1>
    <form action="{% url 'app:deletar' pk=usuario.pk %}" method="post">
        {% csrf_token %}
        <p>Você tem certeza que deseja deletar o usuário: {{ usuario.nome }}?</p>
        <button type="submit">Deletar</button><button><a href="{% url 'app:detalhar' pk=usuario.pk %}">Cancelar</a></button>
    </form>
</body>
</html>