<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes</title>
    <style>
        html {background-color: #929292;}
        body {
            font-family: 'Monaco', monospace;
            font-size: 20px;
        }
        button {
            font-size: 20px;
            background-color: #b8b7b7;
        }
    </style>
</head>
<body>
    <h1>Equipamentos</h1>
    <p>Nome: {{ instrumento.item }} </p>
    <p>Descrição: {{ instrumento.descricao }} </p>
    <p>Dono: {{ instrumento.dono }} </p>
    <button><a href="{% url 'app:listar_objeto' %}">Voltar</a></button>
    <button><a href="{% url 'app:editar_objeto' pk=instrumento.pk %}">Editar</a></button>
    <button><a href="{% url 'app:deletar_objeto' pk=instrumento.pk %}">Deletar</a></button>   
</body>
</html>