<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Agente</title>
    <style>
        body {
            font-family: 'Monaco', monospace;
            font-size: 20px;
        }
        button {
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1>Edição do Agente</h1>
    <form action="{% url 'app:editar' pk=usuario.pk %}" method="post">
        {% csrf_token %}
        {% for field in form %}
            <br>
            {{ field.label_tag }}
            <br>
            {{ field }}
            <br>
        {% endfor %}
        <br>
        <button type="submit">Atualizar</button><button><a href="{% url 'app:detalhar' pk=usuario.pk%}">Voltar</a></button>
    </form>
</body>
</html>