<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Equipamentos-Habilidades</title>
    <style>
        body {
            font-family: 'Monaco', monospace;
            font-size: 20px;
        }
        button {
            font-size: 20px;
        }
    </style>
</head>
<body>
    {% if instrumento %}
        <h1>Equipamentos-Habilidades ---- <button><a href="{% url 'app:listar'%}">Agentes</a></button></h1>
        <table>
            <tr> 
                <th>Item</th>
                <th>Dono</th>
                <th>Ações</th>
            </tr>
            {% for instrumento in instrumento %}
                <tr>
                    <td>{{ instrumento.item }}</td>
                    <td>{{ instrumento.dono }}</td>
                    <td>
                        <button><a href="{% url 'app:detalhar_objeto' pk=instrumento.pk%}">Detalhes</a></button>
                        <button><a href="{% url 'app:editar_objeto' pk=instrumento.pk%}">Editar</a></button>
                        <button><a href="{% url 'app:deletar_objeto' pk=instrumento.pk%}">Deletar</a></button>                       
                    </td>
                </tr>
            {% endfor %}
        </table>
        <br>
        <button><a href="{% url 'app:criar_objeto'%}">Cadastrar Equipamentos-Habilidades</a></button></h1>
    {% else %}
        <h1>Não há objetos cadastrados ----- <button><a href="{% url 'app:listar'%}">Agentes</a></button></h1>
        <button><a href="{% url 'app:criar_objeto'%}">Cadastrar Equipamentos-Habilidades</a></button></h1>
    {% endif %}
</body>
</html>
