<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD</title>
    <style>
        body {
            font-family: 'Monaco', monospace;
            font-size: 20px;
        }
        button {
            font-size: 20px;
        }
    </style>
</head>
<body>
    <h1>Boas-Vindas Agente!</h1>
    <h2>Espero que esteja pronto</h2>
    <h3>
        Aqui no CRUD (Comando Secreto de Operações e Dados)  <br>
        você pode se registrar, juntamente com a sua equipe, <br>
        cadastrando suas habilidades e itens sem medo do  <br>
        vazamento de informações. <br>
    </h3>
    
    <button><a href="{% url 'app:criar' %}">Cadastrar Agente</a></button>
</body>
</html>